extends container.pug

block styles


block content
    div.ez-row(class="css_height_100%_sm")
        div.ez.base-30-lg.css_display_none_sm.main-aa-center.cross-aa-center.css_display_flex_lg.accounts-side__accounts(class="css_height_100%_sm")
            img.css_max-width_300px_sm.css_max-width_300px_md.css_margin_20px_sm(src="/images/layout/logo-w.png", alt="")
        div.ez.base-100-sm.base-70-lg.main-aa-center.cross-aa-center.accounts-container__accounts(class="css_height_100%_sm")
            div.ez-col.main-aa-start.cross-aa-center.base-100-sm.base-80-lg(class="css_height_100%_sm")


block scripts
    script(src="/js/account_management.js")