<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home
        link(rel="stylesheet" href="/css/fontawesome.css")
        link(rel="stylesheet" href="/css/ez-layout.css")
        link(rel='stylesheet' href="/css/style.css")
        block styles
    body
        div.ez-nav-bar.nav__nav-bar.fixed-nav
            button.nav-button
                i.fal.fa-acorn.nav-button-icon__nav-bar.nav-button-icon
            a.nav-logo(href="/")
                img(src="/images/layout/nav-logo.png", width='50', alt="")
                


            //- for all
            a.nav-link(href="/")
                button.nav-link-botton.button__nav-bar Home
            //- end for all
            if isAuthenticated
                //- for all authentecated
                a.nav-link(href="/dashboard")
                    button.nav-link-botton.button__nav-bar Dashboard
                //- end for all authentecated
                if accoutnLevel < 2
                    //- for admins
                    a.nav-link(href="/accountmanagement")
                        button.nav-link-botton.button__nav-bar Accounts
                    a.nav-link(href="/pathmanagement")
                        button.nav-link-botton.button__nav-bar Paths
                    //- end for admins

                if accoutnLevel < 1
                    //- for programmer

                    //- end for programmer
                button.nav-link.nav-botton.logout-button.button__nav-bar LogOut
            else
                a.nav-link(href="/login")
                    button.nav-link-botton.button__nav-bar LogIn
                a.nav-link(href="/signup")
                    button.nav-link-botton.button__nav-bar SignUp
            
        div.ez-container.full-width.content-holder
            block content

        
        script(src="/js/response-codes.js")
        script(src="/js/jQuery.js")
        script(src="/js/ez-layout.js")
        script(src="/js/nav-bar.js")
        block scripts