extends container.pug

block styles


block content
    div.ez-row(class="css_height_100%_sm")
        div.ez.bb.base-40-md.css_display_none_sm.main-aa-center.cross-aa-center.css_display_flex_md(class="css_height_100%_sm")
            div.ez
        div.ez.bb.base-100-sm.base-60-md.main-aa-center.cross-aa-center(class="css_height_100%_sm")
            div.ez-col.cross-aa-center
                img.css_max-width_300px_sm.css_max-width_400px_md(src="/images/layout/logo.png", alt="")
                div.ez.main-aa-sp-ar.cross-aa-center
                    a(href='/dashboard')
                        button Go back to dashboard
                    a(href=downloadLink)
                        button Download the letter





block scripts