extends container.pug

block styles


block content
    div.ez-row(class="css_height_100%_sm")
        div.ez.base-30-md.css_display_none_sm.main-aa-center.cross-aa-center.css_display_flex_md.download-side__download(class="css_height_100%_sm")
            div.ez
        div.ez.base-100-sm.base-70-md.main-aa-center.cross-aa-center(class="css_height_100%_sm")
            div.ez-col.cross-aa-center
                img.css_max-width_300px_sm.css_max-width_400px_md(src="/images/layout/logo.png", alt="")
                div.ez.main-aa-sp-ar.cross-aa-center.wrap
                    a.ez.base-100-sm.base-50-md.main-aa-center.css_text-decoration_none_sm(href='/dashboard')
                        button.buttons__download العودة الى المكتب
                    a.ez.base-100-sm.base-50-md.main-aa-center.css_text-decoration_none_sm(href=downloadLink)
                        button.buttons__download تحميل الكتاب





block scripts