extends container.pug

block styles


block content
    div.ez-row(class="css_height_100%_sm")
        div.ez.bb.base-50-md.css_display_none_sm.main-aa-center.cross-aa-center.css_display_flex_md(class="css_height_100%_sm")
            div test1
        div.ez.bb.base-100-sm.base-50-md.main-aa-center.cross-aa-center(class="css_height_100%_sm")
            div test2

block scripts
        

